// colors
@use "colors";

.box-proyect {
    display: grid;
    grid-template:   
                    "pr-img"
                    "pr-title";
                    padding: 0;
    background-color: colors.$select-box;
    border-radius: 1rem;
    position: relative;
    &:hover{
        background-color: colors.$select-box-hover;
        box-shadow: 0px 0px 26px 0px #656565ad;
    }
    &:hover .info-proyect{
        display: grid;
        
    }
    h4{
        grid-area: pr-title;
        margin: 0 auto 0.5rem;
        color: colors.$select-box-title;
    }
    img {
        grid-area: pr-img;
        height: 100%;
        width: 100%;
        border-radius: 1rem 1rem 0 0;
        overflow: hidden;
        object-fit: cover;
        object-position: 50% 50%;
        aspect-ratio: 4/3;
    }
}

.info-proyect {
    height: 100%;
    width: 100%;
    display: grid;
    position: absolute;
    grid-template:  ". .  . .  ." 1fr
    ". vt . cd ." 30%
    ". .  . .  ." 1fr/
    1fr 33% 1fr 33% 1fr;
    background-color: #00000000;
    border-radius: 1rem;
    .links-proyect {
        // evitar que el paddin sobresalga
        width: calc(100% - 0.8rem);
        background-color: colors.$background-light;
        color: colors.$extra;
        border-radius: 1rem;
        margin: auto;
        padding: 0.4rem;
        text-align: center;
        font-size: 0.9rem;
        text-decoration: none;
        &:hover {
            background-color: colors.$extra;
            color: colors.$background-light;
        }
    }
    .link-visit{
        grid-area: vt;
    }
    .link-code{
        grid-area: cd;
    }
}
.social {
    display: grid;
    margin: 0.5rem;
    grid-template:  "h4" 2rem
                    "sb" 3.8rem / auto;
    .size-medium {
        margin: 0 auto;
        grid-area: h4;
    }
    .social-box {
        margin: auto;
        grid-area: sb;
    }
}
.social-box{
    display: flex;
    margin: 0.5rem 0.2rem;
    .social-box {
        flex-grow: 1;
    }
}
.social-icon-box{
    display: grid;
    img{
        width: 100%;
        // background-color: #fff;
        border-radius: 50%;
    }
}

@media (max-width:500px) {
    .info-proyect {
        grid-template:  ". .  ." 1fr
        ". vt . " 30%
        ". cd ." 30%
        ". .  ." 1fr/
        1fr 50% 1fr;
    }
}

@media (min-width: 700px) {
    .info-proyect {
        display: none;
        background-color: colors.$info-proyect;
        grid-template:  ". .  . .  ." 1fr
        ". vt . cd ." 30%
        ". .  . .  ." 1fr/
        1fr 33% 1fr 33% 1fr;
        .links-proyect{
            width: calc(100% - 1rem);
            padding: 0.5rem;
            font-size: 1rem;
        }
    }
}

.icon {
    width: 4rem;
    margin: 0 auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.size-title{
    font-size: 30px;
    line-height: 140%;
    color: colors.$color;
}

.size-large{
    line-height: 120%;
    font-size: 24px;
    margin-bottom: 4vh;
    color: colors.$color;
}

.size-medium{
    line-height: 170%;
    font-size: 18px;
    margin-bottom: 3vh;
    color: colors.$color;
}

h4{
    margin: 1rem 0 0.5rem 0;
}
.d-none {
    height: 0;
    display: none;
}
