// colors
@use "colors";

.box-Anchor {
    flex-grow: 1;
    min-width: 15rem;
    display: flex;
    .box-proyect {
        
        height: 15rem;
        margin: 1rem;
        padding: 0.75rem;
        background-color: colors.$extra;
        &:hover{
            padding: 1rem;
            margin: 0.75rem;
            background-color: colors.$extra-alpha;
            box-shadow: 0px 0px 26px 0px #656565ad;
        }
    }
}

.icon {
    width: 4rem;
    margin: 0 auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.size-title{
    font-size: 30px;
    line-height: 140%;
    color: colors.$color;
}

.size-large{
    line-height: 120%;
    font-size: 24px;
    margin-bottom: 4vh;
    color: colors.$color;
}

.size-medium{
    line-height: 170%;
    font-size: 18px;
    margin-bottom: 3vh;
    color: colors.$color;
}

h4{
    margin: 1rem 0 0.5rem 0;
}

@media (min-width: 700px) {
    .container {
        width: 90%;
        nav {
            ul {
                width: 70%;
                justify-content: space-between;
                li {
                    padding: 1rem 0.75rem;
                    a {
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    .container {
        width: 70%;
        nav {
            ul {
                width: 70%;
                justify-content: space-between;
                li {
                    padding: 1rem 0.75rem;
                    a {
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
}