// colors
@use "colors";
// variable
$proywect-w-h:17rem;

html{
    width: 100%;
    height: 100%;
    font-family: 'Roboto Slab', serif;
}
body{
    width: 100%;
    height: 100%;
    background-color: colors.$background;
}

.container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas:"main"
                        "nav";
    grid-template-rows: auto 3.5rem;
    grid-template-columns: auto;
}
.section{
    padding: 1rem;
    margin: auto;
    opacity: 0;
    animation: slide 0.5s ease 0.2s forwards;
}

@keyframes slide {
    from {
        max-width: 0;
        opacity: 0;
    }
    to {
        max-width: 100%;
        opacity: 1; 
    }
}

.nav {
    grid-area: nav;
    display: grid;
    grid-template: "sc" "nav";
    position: static;
    // flex-direction: column-reverse;

    height: 100%;
    padding: 0;
        // background-color: colors.$background-nav;
    // box-shadow: 0px 4px 18px 0px colors.$background-nav-shadow;
    ul {
        grid-area: nav;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-areas:  "a b c";
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;

        gap: 0.3rem;
        .nav-a{
            grid-area: a;
        }
        .nav-b{
            grid-area: b;
        }
        .nav-c{
            grid-area: c;
        }
        li {
            list-style: none;
            width: 100%;
            padding: 0;
            button {
                width: 100%;
                background-color: colors.$background-nav-btn;
                border: none;
                font-size: 1.3rem;
                color: colors.$nav-text;
                padding: 1rem 0;
                &:hover{
                    background-color: colors.$nav-hover;
                }
            }
        }
    }
    .social{
        grid-area: sc;
    }
}

main {
    grid-area: main;
    width: 100%;
    height: 100%;
    display: flex;
    .skills{
        flex-direction: column;
    }
}
.box-main{
    h4{
        margin: 1rem 0 .75rem;
    }
}
.skills-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    padding: .3rem 1rem;
    .icon-box {
        display: contents;
        margin: 0;
    }
}
.portfolio{
    margin:auto;
    .box-portfolio{
        display: grid;
        gap: 1rem;
        grid-auto-flow:row dense;
        grid-template-columns: repeat(4, minmax(min(100%, 4rem), 6rem));
        padding: 1rem;
        .box-anchor {
            grid-column: span 2;

        }
        .box-proyect {
            grid-column: span 2;
        }
    }

}
.certificates{
    display: grid;
    gap: 1rem;
    grid-auto-flow:row dense;
    grid-template-columns: repeat(4, minmax(min(100%, 4rem), 7rem));
    .box-certificate{
        grid-column: span 2;
        img{
            width: 100%;
            object-fit: cover;
            -o-object-position: 50% 50%;
            object-position: 50% 50%;
            aspect-ratio: 4/3;
        }
    }
}
footer {
    grid-area: footer;
    width: 100%;
    height: 14rem;
    margin: 0;
    
    padding: 0;
    background-color: colors.$footer;
    h4{
        padding: 1rem;
    }
    div{
        padding: 1rem;
    }
}

@media (min-width: 700px) {
    .nav {
        grid-template:  "." 1fr
                        "nav" auto
                        "." 1fr
                        "sc" auto;
        position: absolute;
        ul {
            flex-direction: column;
            grid-template-areas: "." "a" "b" "c" ".";
            grid-template-columns: 1fr;
            grid-template-rows: auto repeat(3, 3.5rem) auto ;
        }
    }
    .container {
        grid-template-areas:"nav main";
        grid-template-columns: 9rem auto;
        grid-template-rows: auto;
        .section {
            padding: 5rem;

        }
    }
    .certificates{
        grid-template-columns: repeat(6, minmax(min(100%, 4rem), 7rem));
    }    
    
    
}
@media (min-width: 900px) {
    .portfolio{
        .box-portfolio{
            grid-template-columns: repeat(6, minmax(min(100%, 5rem), 8rem));
        }
    }}

@media (min-width: 1200px) {
    .portfolio{
        .box-portfolio{
            grid-template-columns: repeat(6, minmax(min(100%, 5rem), 9rem));
            padding: 3rem;
        }
    }
    .container {
        
        .section {
            padding: 2rem 14%;
        }
        nav {
            height: 100%;

        }
    }
}