html {
  width: 100%;
  min-height: 100%;
  font-family: "Roboto Slab", serif;
}

body {
  width: 100%;
  background-color: #403D39;
}

.container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.container div {
  width: 94%;
  background-color: #252422;
  border-radius: 1rem;
  margin: 0.75rem 0;
  padding: 3%;
}

.nav {
  width: 100%;
  padding: 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #252422;
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.7490196078);
}
.nav ul {
  margin: 1rem auto;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.nav ul li {
  list-style: none;
  padding: 1rem;
}
.nav ul li a {
  width: 100%;
  font-size: 1.3rem;
  color: #CCC5B9;
}
.nav ul li a:hover {
  -webkit-text-decoration: underline #f1642d;
          text-decoration: underline #f1642d;
}

main {
  display: flex;
  padding: 3%;
  margin: 0 auto;
  flex-direction: column;
  flex-wrap: wrap;
  width: 94%;
}
main .skills {
  display: flex;
  flex-direction: column;
}

.box-main {
  width: 94%;
}
.box-main h4 {
  margin: 1rem 0 0.75rem;
}

.skills-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 0 1rem 0;
  padding: 0.3rem 0;
}
.skills-box .icon-box {
  display: contents;
  margin: 0;
}

.portfolio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 0 1rem 0;
  padding: 0.3rem 0;
}
.portfolio .box-portfolio {
  display: contents;
  margin: 0;
}

footer {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #252422;
}
footer h4 {
  padding: 1rem;
}
footer div {
  padding: 1rem;
}

.box-Anchor {
  flex-grow: 1;
  min-width: 15rem;
  display: flex;
}
.box-Anchor .box-proyect {
  height: 15rem;
  margin: 1rem;
  padding: 0.75rem;
  background-color: #EB5E28;
}
.box-Anchor .box-proyect:hover {
  padding: 1rem;
  margin: 0.75rem;
  background-color: #f1642d;
  box-shadow: 0px 0px 26px 0px rgba(101, 101, 101, 0.6784313725);
}

.icon {
  width: 4rem;
  margin: 0 auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.size-title {
  font-size: 30px;
  line-height: 140%;
  color: #FFFCF2;
}

.size-large {
  line-height: 120%;
  font-size: 24px;
  margin-bottom: 4vh;
  color: #FFFCF2;
}

.size-medium {
  line-height: 170%;
  font-size: 18px;
  margin-bottom: 3vh;
  color: #FFFCF2;
}

h4 {
  margin: 1rem 0 0.5rem 0;
}

@media (min-width: 700px) {
  .container {
    width: 90%;
  }
  .container nav ul {
    width: 70%;
    justify-content: space-between;
  }
  .container nav ul li {
    padding: 1rem 0.75rem;
  }
  .container nav ul li a {
    font-size: 1.5rem;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 70%;
  }
  .container nav ul {
    width: 70%;
    justify-content: space-between;
  }
  .container nav ul li {
    padding: 1rem 0.75rem;
  }
  .container nav ul li a {
    font-size: 1.5rem;
  }
}/*# sourceMappingURL=index.css.map */