:root {
  --shadow:0 4px 8px rgb(0 0 0 / 35%);
}
/* skills */
.skills {
  /* padding: 2rem; */
  max-width: 1200px;
}

.skills h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.skill-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 0.5rem; /* Espacio alrededor de la cuadrícula */
  padding-bottom: 2rem;
  flex-flow: wrap;
}

.skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: calc(50% - 1rem);
  padding: 0.5rem 0;
  max-width: 6rem;
  text-align: center;
  animation: pulse 2s infinite;
  
  /* Transición para efecto hover */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Efecto al pasar el mouse */
.skill:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  animation: none; /* Detiene la animación de pulso al hacer hover */
}

/* Animación de pulso */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.03);
    box-shadow: 0 4px 8px rgb(0 0 0 / 12%);
  }
  100% {
    transform: scale(1);
  }
}

.skill img {
  width: 1.4rem;
  margin-bottom:0.125rem ;
  /* box-shadow: var(--shadow); */
}

.skill h3 {
  font-size: 0.8rem;
  margin: 0 0 0.1rem;
  color: #2c3e50;
  user-select: none;
  text-shadow: var(--shadow);
}


.skill-container > div:hover {
  transform: scale(1.1);
}

.skill-selected {
  background-color: rgb(238, 233, 227);
}



@media (min-width: 800px) {
  .skill-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 20px; /* Espacio alrededor de la cuadrícula */
    padding-bottom: 2rem;
    flex-flow: wrap;
  }
  .skill {

    width: calc(100% - 1rem);
    /* max-width: 120px; */
    /* padding: 1rem; */
  }
  
  .skill img {
    width: 2rem;
    margin-bottom:0.2rem ;
  }
  
  .skill h3 {
    font-size: 1rem;
    margin: 0 0 0.1rem;
    color: #2c3e50;
    user-select: none;
  }
}